---
name: ai

services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:v0.6.5
    container_name: open-webui
    networks:
      - traefik
    environment:
      - TZ=America/Edmonton
      - OLLAMA_BASE_URL=http://10.10.1.100:11434
      - WEBUI_SECRET_KEY={{ secret_openwebui_secret_key }}
      - WEBUI_ADMIN_EMAIL={{ secret_openwebui_admin_email }}
      - WEBUI_ADMIN_PASSWORD={{ secret_openwebui_admin_password }}
      - ENABLE_API_KEYS=True
    volumes:
      - /home/{{ default_user }}/docker_mounts/ai/open-webui:/app/backend/data
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.open-webui.rule=Host(`openwebui.home.stechsolutions.ca`)"
      - "traefik.http.services.open-webui.loadbalancer.server.port=8080"
      - "traefik.http.routers.open-webui.entrypoints=websecure"
      - "traefik.http.routers.open-webui.tls.certresolver=letsencrypt"
      - "wud.tag.include=^v?\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://github.com/open-webui/open-webui/releases"

networks:
  traefik:
    name: traefik
    external: true
