---
name: files

services:
  filestash:
    container_name: filestash
    image: machines/filestash:latest
    networks:
      - traefik
    volumes:
      - /home/{{ default_user }}/docker_mounts/files/filestash:/app/data/state
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.filestash.rule=Host(`filestash.home.stechsolutions.ca`)"
      - "traefik.http.services.filestash.loadbalancer.server.port=8334"
      - "traefik.http.routers.filestash.entrypoints=websecure"
      - "traefik.http.routers.filestash.tls.certresolver=letsencrypt"
      - "homepage.group=Files"
      - "homepage.name=Filestash"
      - "homepage.description=Filestash"
      - "homepage.icon=filestash.png"
      - "homepage.href=https://filestash.home.stechsolutions.ca"
      - "homepage.siteMonitor=https://filestash.home.stechsolutions.ca"
      - "wud.tag.include=^v?\\d+\\.\\d+\\.\\d+$"
      - wud.watch.digest=true
      - "wud.link.template=https://hub.docker.com/r/machines/filestash/tags"

  stirling-pdf:
    image: stirlingtools/stirling-pdf:2.8.0
    container_name: stirling-pdf
    networks:
      - traefik
    environment:
      - SECURITY_ENABLELOGIN=false
      - LANGS=en_US
      - SYSTEM_DEFAULTLOCALE=en-US
      - SYSTEM_GOOGLEVISIBILITY=false
      - SYSTEM_MAXFILESIZE=2000
    volumes:
      - /home/{{ default_user }}/docker_mounts/files/stirling-pdf/tessdata:/usr/share/tessdata
      - /home/{{ default_user }}/docker_mounts/files/stirling-pdf/configs:/configs
      - /home/{{ default_user }}/docker_mounts/files/stirling-pdf/logs:/logs
      - /home/{{ default_user }}/docker_mounts/files/stirling-pdf/customFiles:/customFiles
      - /home/{{ default_user }}/docker_mounts/files/stirling-pdf/pipeline:/pipeline
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.stirling-pdf.rule=Host(`pdf.home.stechsolutions.ca`)"
      - "traefik.docker.network=traefik"
      - "traefik.http.services.stirling-pdf.loadbalancer.server.port=8080"
      - "traefik.http.routers.stirling-pdf.entrypoints=websecure"
      - "traefik.http.routers.stirling-pdf.tls.certresolver=letsencrypt"
      - "homepage.group=Files"
      - "homepage.name=Stirling PDF"
      - "homepage.description=PDF manipulation tool"
      - "homepage.icon=stirling-pdf.png"
      - "homepage.href=https://pdf.home.stechsolutions.ca"
      - "homepage.siteMonitor=https://pdf.home.stechsolutions.ca"
      - "wud.tag.include=^\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://hub.docker.com/r/stirlingtools/stirling-pdf/tags"

networks:
  traefik:
    name: traefik
    external: true
