# {{ ansible_managed }}

{% for export in nfs_exports %}
{{ export.alias }} \
{% for machine in export.machines %}
    {{machine.name}}({{machine.options}}){% if not loop.last %} \{% endif %}

{% endfor %}
{% endfor %}
