---
global:
  resolve_timeout: 5m

route:
  group_by: ['alertname', 'job']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 12h

  # Default receiver
  receiver: 'ntfy-alerts'

  routes:
    # Special route for the underutilized memory or CPU alerts
    - match_re:
        alertname: 'Host(Memory|Cpu)IsUnderutilized'
      repeat_interval: 1w
      receiver: 'ntfy-alerts'

receivers:
  - name: 'ntfy-alerts'
    webhook_configs:
      - url: '{{ ntfy_alertmanager_base_url }}'
        send_resolved: true
        http_config:
          basic_auth:
            username: '{{ ntfy_user }}'
            password: '{{ secret_ntfy_password }}'
          tls_config:
            insecure_skip_verify: true

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'instance']
