---
# Host variables for pve3.home.stechsolutions.ca host

ansible_host: pve3.home.stechsolutions.ca

proxmox_nut_configure: true

# Proxmox nfs storage
proxmox_storage:
  # PBS
  - storage: "pbs"
    type: "pbs"
    state: "present"
    server: "pbs.home.stechsolutions.ca"
    datastore: "pbs"
    namespace: "proxmox-vms"
    username: "backup@pbs"
    password: "{{ secret_user_password }}"
