---
# Host variables for storage.home.stechsolutions.ca

# other variables are set in group_vars/proxmox_nodes.yaml and
# proxmox_vms/hosts.yaml

fileserver_setup: true
fileserver_setup_mergerfs: false
fileserver_setup_snapraid: false
fileserver_setup_nfs_server: true
fileserver_setup_zfs: true

sanoid_setup: true
sanoid_healthcheck_script_path: /home/{{ default_user }}/sanoid_healthcheck.sh
sanoid_hc_url: "https://hc.stechsolutions.ca/ping/"
sanoid_hc_uuid: "{{ secret_hc_projects['Stechsolutions'].ping_key }}/sanoid-fileserver"

sanoid_datasets:
  # Storage1 datasets
  - name: storage1/pictures
    template: production
    # Only set the pre and post snapshot scripts once per host
    pre_snapshot_script: "{{ sanoid_healthcheck_script_path }}"
    post_snapshot_script: "{{ sanoid_healthcheck_script_path }}"
  - name: storage1/stechsolutions
    template: production
  - name: storage1/safekeep
    template: safekeep
  # Storage2 datasets
  - name: storage2/downloads
    template: replaceable
  - name: storage2/movies
    template: replaceable
  - name: storage2/tv
    template: replaceable
  # Storage3 datasets
  - name: storage3/audiobooks
    template: replaceable
  - name: storage3/music
    template: replaceable
  - name: storage3/other
    template: replaceable
# TODO: Change to production after initial sync and testing (and storage space allows)
  - name: storage3/sport
    template: replaceable

sanoid_zfs_permissions:
  - user: "{{ default_user }}"
    permissions: snapshot,send,hold,destroy
    dataset: storage1/pictures
  - user: "{{ default_user }}"
    permissions: snapshot,send,hold,destroy
    dataset: storage1/stechsolutions
  - user: "{{ default_user }}"
    permissions: snapshot,send,hold,destroy
    dataset: storage1/safekeep
  - user: "{{ default_user }}"
    permissions: create,mount,send,snapshot
    dataset: storage1

fileserver_zfs_pools:
  - pool_name: storage1
    # don't mount the pool, mount the datasets
    mount_point: none
    vdevs:
      - raid_type: mirror
        disks:
          - name: scsi-0QEMU_QEMU_HARDDISK_drive-scsi1
          - name: scsi-0QEMU_QEMU_HARDDISK_drive-scsi2
    datasets:
      - name: storage1/pictures
        mount_point: /mnt/zfs/storage1/pictures
        quota: 2T
        canmount: "on"
        encryption: false
      - name: storage1/stechsolutions
        mount_point: /mnt/zfs/storage1/stechsolutions
        quota: 200G
        canmount: "on"
        encryption: false
      - name: storage1/safekeep
        mount_point: /mnt/zfs/storage1/safekeep
        quota: 200G
        canmount: "on"
        encryption: false
  - pool_name: storage2
    mount_point: none
    vdevs:
      - raid_type: raidz1
        disks:
          - name: scsi-0QEMU_QEMU_HARDDISK_drive-scsi7
          - name: scsi-0QEMU_QEMU_HARDDISK_drive-scsi8
          - name: scsi-0QEMU_QEMU_HARDDISK_drive-scsi9
    datasets:
      - name: storage2/downloads
        mount_point: /mnt/zfs/storage2/downloads
        quota: 2T
        canmount: "on"
        encryption: false
        recordsize: 1M
      - name: storage2/movies
        mount_point: /mnt/zfs/storage2/movies
        quota: 10T
        canmount: "on"
        encryption: false
        recordsize: 1M
      - name: storage2/tv
        mount_point: /mnt/zfs/storage2/tv
        quota: 30T
        canmount: "on"
        encryption: false
        recordsize: 1M
  - pool_name: storage3
    mount_point: none
    # Set this flag to force pool creation even if disks are different sizes
    pool_creation_flags: "-f"
    vdevs:
      - raid_type: raidz2
        disks:
          - name: scsi-0QEMU_QEMU_HARDDISK_drive-scsi3
          - name: scsi-0QEMU_QEMU_HARDDISK_drive-scsi4
          - name: scsi-0QEMU_QEMU_HARDDISK_drive-scsi5
          - name: scsi-0QEMU_QEMU_HARDDISK_drive-scsi6
          - name: scsi-0QEMU_QEMU_HARDDISK_drive-scsi10
    datasets:
      - name: storage3/audiobooks
        mount_point: /mnt/zfs/storage3/audiobooks
        quota: 100G
        canmount: "on"
        encryption: false
        recordsize: 1M
      - name: storage3/movies
        mount_point: /mnt/zfs/storage3/movies
        quota: 10T
        canmount: "on"
        encryption: false
        recordsize: 1M
      - name: storage3/music
        mount_point: /mnt/zfs/storage3/music
        quota: 200G
        canmount: "on"
        encryption: false
        recordsize: 1M
      - name: storage3/other
        mount_point: /mnt/zfs/storage3/other
        quota: 100G
        canmount: "on"
        encryption: false
        recordsize: 1M
      - name: storage3/sport
        mount_point: /mnt/zfs/storage3/sport
        quota: 1T
        canmount: "on"
        encryption: false
        recordsize: 1M

fileserver_nfs_exports:
  - src: /mnt/zfs/storage2/movies
    alias: /export/movies
    machines:
      - name: 10.10.1.0/24  # home network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=10
      - name: 10.10.5.0/24  # trusted network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=11
  - src: /mnt/zfs/storage2/tv
    alias: /export/tv
    machines:
      - name: 10.10.1.0/24  # home network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=12
      - name: 10.10.5.0/24  # trusted network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=13
  - src: /mnt/zfs/storage3/music
    alias: /export/music
    machines:
      - name: 10.10.1.0/24  # home network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=14
      - name: 10.10.5.0/24  # trusted network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=15
  - src: /mnt/zfs/storage3/audiobooks
    alias: /export/audiobooks
    machines:
      - name: 10.10.1.0/24  # home network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=16
      - name: 10.10.5.0/24  # trusted network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=17
  - src: /mnt/zfs/storage3/sport
    alias: /export/sport
    machines:
      - name: 10.10.1.0/24  # home network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=18
      - name: 10.10.5.0/24  # trusted network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=19
  - src: /mnt/zfs/storage3/other
    alias: /export/other
    mode: '0755'
    machines:
      - name: 10.10.1.100/32  # nelsons desktop
        options: rw,sync,no_subtree_check,no_root_squash,fsid=26
  - src: /mnt/zfs/storage2/downloads
    alias: /export/downloads
    machines:
      - name: 10.10.1.0/24  # home network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=27
      - name: 10.10.5.0/24  # trusted network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=28
  - src: /mnt/zfs/storage1/pictures
    alias: /export/pictures
    machines:
      - name: 10.10.1.0/24  # home network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=20
      - name: 10.10.5.0/24  # trusted network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=21
  - src: /mnt/zfs/storage1/stechsolutions
    alias: /export/stechsolutions
    machines:
      - name: 10.10.1.0/24  # home network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=22
      - name: 10.10.5.0/24  # trusted network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=23
  - src: /mnt/zfs/storage1/safekeep
    alias: /export/safekeep
    machines:
      - name: 10.10.1.0/24  # home network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=24
      - name: 10.10.5.0/24  # trusted network
        options: rw,sync,no_subtree_check,no_root_squash,fsid=25
