---
# Rule from https://samber.github.io/awesome-prometheus-alerts/rules#traefik

groups:
  - name: TraefikAlerts
    rules:
      - alert: TraefikHighHttp4xxErrorRateService
        expr: |
          (
            (sum(rate(traefik_service_requests_total{code=~"4.*"}[3m])) by (service)) /
            (sum(rate(traefik_service_requests_total[3m])) by (service)) * 100
          ) > 5
          and
          (sum(rate(traefik_service_requests_total[3m])) by (service) * 60) > 5
        for: 1m
        labels:
          severity: warning
        annotations:
          summary: Traefik high HTTP 4xx error rate service (instance {{ $labels.instance }})
          description: "Traefik service 4xx error rate is above 5%\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"

      - alert: TraefikHighHttp5xxErrorRateService
        expr: |
          (
            (sum(rate(traefik_service_requests_total{code=~"5.*"}[3m])) by (service)) /
            (sum(rate(traefik_service_requests_total[3m])) by (service)) * 100
          ) > 5
          and
          (sum(rate(traefik_service_requests_total[3m])) by (service) * 60) > 5
        for: 1m
        labels:
          severity: warning
        annotations:
          summary: Traefik high HTTP 5xx error rate service (instance {{ $labels.instance }})
          description: "Traefik service 5xx error rate is above 5%\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"
