name: {{ compose.compose_name }}

services:
{% for container in compose.containers %}
  {{ container.container_name }}:
    image: {{ container.image }}
{# set the network if defined #}
{% if container.networks is defined %}
    networks:
{% for network in container.networks %}
      - {{ network }}
{% endfor %}
{% endif %}
{# container_name has to be unique if scale is defined #}
{% if container.scale is not defined %}
    container_name: {{ container.container_name }}
{% endif %}
{# set the command if defined #}
{% if container.command  is defined%}
    command: {{ container.command }}
{% endif %}
{# set the network mode if defined #}
{% if container.network_mode is defined %}
    network_mode: {{ container.network_mode }}
{% endif %}
{# set the scale if defined #}
{% if container.scale is defined %}
    scale: {{ container.scale }}
{% endif %}
{# set the environment variables if defined #}
{% if container.environment is defined %}
    environment:
{% for env in container.environment %}
        - {{ env }}
{% endfor %}
{% endif %}
{# set the volumes if defined #}
{% if container.volumes is defined %}
    volumes:
{% for volume in container.volumes %}
        - {{ volume }}
{% endfor %}
{% endif %}
{# set the ports if defined #}
{% if container.ports is defined %}
    ports:
{% for port in container.ports %}
        - "{{ port }}"
{% endfor %}
{% endif %}
{# set the restart policy if defined #}
{% if container.restart is defined %}
    restart: {{ container.restart }}
{% endif %}
{# set the labels if defined #}
{% if container.labels is defined %}
    labels:
{% for label in container.labels %}
      - "{{ label }}"
{% endfor %}
{% endif %}
{% endfor %}
{# section for setting network settings #}
{% if compose.networks is defined %}
networks:
{% for network_key, network_value in compose.networks.items() %}
  {{ network_key }}:
{% if network_value.name is defined %}
    name: {{ network_value.name }}
{% endif %}
{% if network_value.external is defined%}
    external: {{ network_value.external | lower }}
{% endif %}
{% endfor %}
{% endif %}
