---
# 2026-02-14: These hosts have been decomissioned and removed from inventory.
# This playbook is being kept for reference and may be used again in the future if I decide to set up new monitoring devices.
#
# Example docker compose file for speedtest-tracker is added below as well:
# name: speedtest

# services:
#     speedtest-ethernet:
#         image: lscr.io/linuxserver/speedtest-tracker:1.6.6
#         container_name: speedtest-tracker-ethernet
#         network_mode: host
#         environment:
#             - PUID=1000
#             - PGID=1000
#             - APP_NAME=speedtest-tracker-ethernet
#             - APP_KEY=base64:wBGLVMg+mPj7v9BEZXDh+zMSf3T3DWwnc5HqwkdsjbE=
#             - APP_TIMEZONE=UTC
#             - DISPLAY_TIMEZONE={{ base_timezone }}
#             - DB_CONNECTION=sqlite
#             - PUBLIC_DASHBOARD=true
#             - SPEEDTEST_SCHEDULE=0 * * * *
#             - SPEEDTEST_INTERFACE=eth0
#             - PRUNE_RESULTS_OLDER_THAN=180
#             - ADMIN_NAME=speedtest-admin
#             - ADMIN_EMAIL={{ default_user_email }}
#             - ADMIN_PASSWORD={{ secret_user_password }}
#         volumes:
#             - /home/{{ default_user }}/docker_mounts/speedtest:/config
#         healthcheck:
#             test: curl -fSs http://localhost/api/healthcheck | jq -r .message || exit 1
#             interval: 10s
#             retries: 3
#             start_period: 30s
#             timeout: 10s
#         restart: unless-stopped

# Configure an internet monitoring raspberry pi
- name: Configure internet monitoring raspberry pi
  hosts: pi-speedtest-[1:2].home.stechsolutions.ca
  vars_files:
    - ../../vault/vault.yaml
  vars:
    ansible_host_key_checking: false
    ansible_ssh_common_args: '-o UserKnownHostsFile=/dev/null'
  tags: rpi.internet-monitor

  tasks:
    # Update the known_hosts var_file
    - name: Update the known_hosts var_file
      ansible.builtin.include_role:
        name: base
        tasks_from: update_known_hosts
      vars:
        base_hostname: "{{ item }}"
        base_state: present
        base_comment: "RPI host: {{ ansible_hostname }}"
      loop:
        - "{{ ansible_default_ipv4.address }}"
        - "{{ ansible_hostname }}"
        - "{{ inventory_hostname }}"
      loop_control:
        label: "{{ item }}"
      tags:
        - base.known_hosts

# finish setup
- name: Finish setup
  hosts: pi-speedtest-[1:2].home.stechsolutions.ca
  vars_files:
    - ../../vault/vault.yaml

  tasks:
    # Run the base role
    - name: Import base role
      ansible.builtin.import_role:
        name: base
      tags:
        - base
        - base.apt
        - base.docker
        - base.dotfiles
        - base.known_hosts
        - base.postfix
        - base.timezone

    # Run the geerlingguy.security role
    - name: Import geerlingguy.security role
      ansible.builtin.import_role:
        name: geerlingguy.security
      become: true
      tags:
        - base.geerlingguy.security

    # Run the tailscale role
    - name: Import tailscale role
      ansible.builtin.import_role:
        name: tailscale
      when:
        hostvars[inventory_hostname].tailscale_setup is defined and
        hostvars[inventory_hostname].tailscale_setup is true
      tags:
        - tailscale
