---
- 3DPrinting:
    - Mainsail:
        href: http://mainsail.home.stechsolutions.ca
        description: Mainsail
        icon: mainsail.png
        widget:
          type: moonraker
          url: http://mainsail.home.stechsolutions.ca
    - Spoolman:
        href: http://10.10.1.136:7912
        description: Spoolman
        icon: spoolman.png
        widget:
          type: spoolman
          url: http://10.10.1.136:7912
- Files:
    - Filestash Admin:
        href: https://filestash.home.stechsolutions.ca/admin/backend
        description: Filestash Admin
        icon: filestash.png
- Network:
    - PiHole-1:
        href: http://pihole-1.home.stechsolutions.ca/admin
        description: PiHole-1
        icon: pi-hole.png
        widget:
          type: pihole
          url: http://pihole-1.home.stechsolutions.ca
          version: 5
          key: "{{ secret_pihole_password_hash }}"
    - PiHole-2:
        href: http://pihole-2.home.stechsolutions.ca/admin
        description: PiHole-2
        icon: pi-hole.png
        widget:
          type: pihole
          url: http://pihole-2.home.stechsolutions.ca
          version: 5
          key: "{{ secret_pihole_password_hash }}"
    - Unifi OS:
        href: https://unifi.home.stechsolutions.ca
        description: Unifi OS
        icon: unifi.png
    - Unifi Controller:
        href: https://unifi.home.stechsolutions.ca/network/default/dashboard
        description: Unifi Controller
        icon: unifi-controller.png
        widget:
          type: unifi
          url: https://unifi.home.stechsolutions.ca
          username: HomepageUser
          password: "{{  secret_unifi_username_password}}"
    - Unifi Protect:
        href: https://unifi.home.stechsolutions.ca/protect/dashboard
        description: Unifi Protect
        icon: unifi-protect.png
- Proxmox:
    - Proxmox VE:
        href: https://pve3.home.stechsolutions.ca:8006
        description: Proxmox VE
        siteMonitor: https://pve3.home.stechsolutions.ca:8006
        icon: proxmox.png
        widget:
          type: proxmox
          url: https://pve3.home.stechsolutions.ca:8006
          username: homepage@pve!homepage
          password: "{{ secret_pve_homepage_token }}"
    - Proxmox Backup Server:
        href: https://pbs.home.stechsolutions.ca:8007
        description: Proxmox Backup Server
        siteMonitor: https://pbs.home.stechsolutions.ca:8007
        icon: proxmox.png
        widget:
          type: proxmoxbackupserver
          url: https://pbs.home.stechsolutions.ca:8007
          username: homepage@pbs!homepage
          password: "{{ secret_pbs_homepage_token }}"
