# Please refer to the link below for more details on how to set up the configuration file
# https://github.com/StuffAnThings/qbit_manage/wiki/Config-Setup

commands:
  # The commands defined below will OVERRIDE any commands used in command line and docker env variables.
  dry_run: False
  recheck: True
  cat_update: False
  tag_update: True
  rem_unregistered: True
  tag_tracker_error: True
  rem_orphaned: True
  tag_nohardlinks: False
  share_limits: True
  skip_qb_version_check: False
  skip_cleanup: False

qbt:
  # qBittorrent parameters
  # Pass environment variables to the config via !ENV tag
  host: "qbittorrentvpn:8080"
  user: "{{ default_user }}"
  pass: "{{ secret_qbittorrentvpn_webui_password }}"

settings:
  force_auto_tmm: True # Will force qBittorrent to enable Automatic Torrent Management for each torrent.
  force_auto_tmm_ignore_tags: #Torrents with these tags will be ignored when force_auto_tmm is enabled.
    - cross-seed
    - Upload
  tracker_error_tag: issue # Will set the tag of any torrents that do not have a working tracker.
  nohardlinks_tag: noHL# Will set the tag of any torrents with no hardlinks.
  stalled_tag: stalledDL # Will set the tag of any torrents stalled downloading.
  share_limits_tag: ~sl # Will add this tag when applying share limits to provide an easy way to filter torrents by share limit group/priority for each torrent
  share_limits_min_seeding_time_tag: MinSeedTimeNotReached # Tag to be added to torrents that have not yet reached the minimum seeding time
  share_limits_min_num_seeds_tag: MinSeedsNotMet # Tag to be added to torrents that have not yet reached the minimum number of seeds
  share_limits_last_active_tag: LastActiveLimitNotReached # Tag to be added to torrents that have not yet reached the last active limit
  cat_filter_completed: True # Filters for completed torrents only when running cat_update command
  share_limits_filter_completed: True # Filters for completed torrents only when running share_limits command
  tag_nohardlinks_filter_completed: True # Filters for completed torrents only when running tag_nohardlinks command
  rem_unregistered_filter_completed: False # Filters for completed torrents only when running rem_unregistered command
  cat_update_all: True # Checks and updates all torrent categories if set to True when running cat_update command, otherwise only update torrents that are uncategorized
  disable_qbt_default_share_limits: True # Allows QBM to handle share limits by disabling qBittorrents default Share limits. Only active when the share_limits command is set to True
  tag_stalled_torrents: True # Tags any downloading torrents that are stalled with the `stalledDL` tag when running the tag_update command
  rem_unregistered_ignore_list: # Ignores a list of words found in the status of the tracker when running rem_unregistered command and will not remove the torrent if matched
    - example placeholder words
    - ignore if found
  rem_unregistered_grace_minutes: 10 # Grace period (minutes) to skip removing newly added torrents when unregistered with the tracker (Default is 10)

directory:
  # Do not remove these
  # root_dir var: </your/path/here/>  # Root downloads directory used to check for orphaned files, noHL, and RecycleBin.
  # <OPTIONAL> remote_dir var: </your/path/here/>  # Path of docker host mapping of root_dir.
  # remote_dir must be set if you're running qbit_manage locally and qBittorrent/cross_seed is in a docker
  # remote_dir should not be set if qbit_manage is running in a container
  # <OPTIONAL> recycle_bin var: </your/path/here/>   # Path of the RecycleBin folder. Default location is set to remote_dir/.RecycleBin
  # <OPTIONAL> torrents_dir var: </your/path/here/>  # Path of the your qbittorrent torrents directory. Required for `save_torrents` attribute in recyclebin
  # <OPTIONAL> orphaned_dir var: </your/path/here/>  # Path of the the Orphaned Data folder. This is similar to RecycleBin, but only for orphaned data.
  root_dir: "/downloads/"
  # remote_dir: "/host/path/to/torrents/ifdocker/torrents/"
  recycle_bin: "/downloads/.RecycleBin"
  torrents_dir: "/downloads/"
  orphaned_dir: "/downloads/orphaned_data"

cat:
  # Category & Path Parameters
  # All save paths in qbittorent must be populated below.
  # If you want to leave a save_path as uncategorized you can use the key 'Uncategorized' as the name of the category.
  # You can use Unix filename pattern matching as well when specifying the save_path
  # <Category Name> : <save_path>  # Path of your save directory.
  #
  radarr: "/downloads/temp/radarr/"
  radarr-finished: "/downloads/radarr-finished/"

# cat_change:
#   # This moves all the torrents from one category to another category. This executes on --cat-update
#   # WARNING: if the paths are different and Default Torrent Management Mode is set to automatic the files could be moved !!!
#   # <Old Category Name> : <New Category>
#   CatA.cross-seed: CatA
#   CatB.cross-seed: CatB

tracker:
  # Mandatory
  # Tag Parameters
  # <Tracker URL Keyword>:    # <MANDATORY> This is the keyword in the tracker url. You can define multiple tracker urls by splitting with `|` delimiter
  # <MANDATORY> Set tag name. Can be a list of tags or a single tag
  #   tag: <Tag Name>
  # <OPTIONAL> Set the category based on tracker URL. This category option takes priority over the category defined by save directory
  #   cat: <Category Name>
  # <OPTIONAL> Set this to the notifiarr react name. This is used to add indexer reactions to the notifications sent by Notifiarr
  #   notifiarr: <notifiarr indexer>
  torrentleech|tleechreload:
    tag: [private, torrentleech]
  1337x:
    tag: [public, 1337X]
  eztv:
    tag: [public, eztv]
  limeTorrents:
    tag: [public, limetorrents]
  thepiratebay:
    tag: [public, thepiratebay]
  torrentz2:
    tag: [public, torrentz2]
  opentrackr:
    tag: [public, opentrackr]
  # The "other" key is a special keyword and if defined will tag any other trackers that don't match the above trackers into this tag
  other:
    tag: other

# nohardlinks:
#   # Tag Movies/Series that are not hard linked outside the root directory
#   # Mandatory to fill out directory parameter above to use this function (root_dir/remote_dir)
#   # This variable should be set to your category name of your completed movies/completed series in qbit. Acceptable variable can be any category you would like to tag if there are no hardlinks found
#   movies-completed-4k:
#   series-completed-4k:
#   movies-completed:
#     # <OPTIONAL> exclude_tags var: Will exclude torrents with any of the following tags when searching through the category.
#     exclude_tags:
#       - Beyond-HD
#       - AnimeBytes
#       - MaM
#     # <OPTIONAL> ignore_root_dir var: Will ignore any hardlinks detected in the same root_dir (Default True).
#     ignore_root_dir: true
#   # Can have additional categories set with separate ratio/seeding times defined.
#   series-completed:
#     # <OPTIONAL> exclude_tags var: Will exclude torrents with any of the following tags when searching through the category.
#     exclude_tags:
#       - Beyond-HD
#       - BroadcasTheNet
#     # <OPTIONAL> ignore_root_dir var: Will ignore any hardlinks detected in the same root_dir (Default True).
#     ignore_root_dir: true

share_limits:
  # Control how torrent share limits are set depending on the priority of your grouping
  # Each torrent will be matched with the share limit group with the highest priority that meets the group filter criteria.
  # Each torrent can only be matched with one share limit group
  # This variable is mandatory and is a text defining the name of your grouping. This can be any string you want
  private:
    priority: 1
    include_any_tags:
      - private
    max_ratio: 10
    min_seeding_time: 2w
    max_last_active: 12w
    cleanup: true
  default:
    priority: 999
    max_ratio: 10
    min_seeding_time: 1w
    max_seeding_time: 12w
    max_last_active: 4w
    cleanup: true

recyclebin:
  # Recycle Bin method of deletion will move files into the recycle bin (Located in /root_dir/.RecycleBin) instead of directly deleting them in qbit
  # By default the Recycle Bin will be emptied on every run of the qbit_manage script if empty_after_x_days is defined.
  enabled: false
  # <OPTIONAL> empty_after_x_days var:
  # Will automatically remove all files and folders in recycle bin after x days. (Checks every script run)
  # If this variable is not defined it, the RecycleBin will never be emptied.
  # WARNING: Setting this variable to 0 will delete all files immediately upon script run!
  empty_after_x_days: 60
  # <OPTIONAL> save_torrents var:
  # If this option is set to true you MUST fill out the torrents_dir in the directory attribute.
  # This will save a copy of your .torrent and .fastresume file in the recycle bin before deleting it from qbittorrent
  save_torrents: true
  # <OPTIONAL> split_by_category var:
  # This will split the recycle bin folder by the save path defined in the `cat` attribute
  # and add the base folder name of the recycle bin that was defined in the `recycle_bin` sub-attribute under directory.
  split_by_category: false

orphaned:
  # Orphaned files are those in the root_dir download directory that are not referenced by any active torrents.
  # Will automatically remove all files and folders in orphaned data after x days. (Checks every script run)
  # If this variable is not defined it, the orphaned data will never be emptied.
  # WARNING: Setting this variable to 0 will delete all files immediately upon script run!
  empty_after_x_days: 60
  # Minimum age in minutes for files to be considered orphaned. Files newer than this will be protected from deletion.
  # This helps prevent removal of files that are actively being uploaded or processed.
  # Default: 0 (disabled age protection)
  min_file_age_minutes: 30
  # File patterns that will not be considered orphaned files. Handy for generated files that aren't part of the torrent but belong with the torrent's files
  exclude_patterns:
    - "**/.DS_Store"
    - "**/Thumbs.db"
    - "**/@eaDir"
    - "/data/torrents/temp/**"
    - "**/*.!qB"
    - "**/*_unpackerred"
    - "/downloads/temp/**"
  # Set your desired threshold for the maximum number of orphaned files qbm will delete in a single run. (-1 to disable safeguards)
  # This will help reduce the number of accidental large amount orphaned deletions in a single run
  # WARNING: Setting this variable to -1 will not safeguard against any deletions
  max_orphaned_files_to_delete: 50

apprise:
  # Apprise integration with webhooks
  # Leave Empty/Blank to disable
  # Mandatory to fill out the url of your apprise API endpoint
  api_url: https://apprise.stechsolutions.ca
  # Mandatory to fill out the notification url/urls based on the notification services provided by apprise. https://github.com/caronc/apprise/wiki
  notify_url:
    - ntfys://nelson:{{ secret_ntfy_password }}@ntfy.stechsolutions.ca/qbit

# notifiarr:
#   # Notifiarr integration with webhooks
#   # Leave Empty/Blank to disable
#   # Mandatory to fill out API Key
#   apikey: !ENV NOTIFIARR_API
#   # <OPTIONAL> Set to a unique value (could be your username on notifiarr for example)
#   instance:

webhooks:
  # Webhook notifications:
  # Possible values:
  # Set value to notifiarr if using notifiarr integration
  # Set value to apprise if using apprise integration
  # Set value to a valid webhook URL
  # Set value to nothing (leave Empty/Blank) to disable
  error: apprise
  run_start: apprise
  run_end: apprise
  function:
    recheck: apprise
    cat_update: apprise
    tag_update: apprise
    rem_unregistered: apprise
    tag_tracker_error: apprise
    rem_orphaned: apprise
    tag_nohardlinks: apprise
    share_limits: apprise
    cleanup_dirs: apprise