{
  "id": "{{ hostoptions.id }}",
  "verbosity": 0,
{% if hostoptions.nodes is defined %}
  "nodes": [
{% for node in hostoptions.nodes %}
    "{{ node }}"{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% endif %}
  "proxy_enabled": {{ hostoptions.proxy_enabled | default(false) | bool | lower }},
  "isdefault": {{ hostoptions.isdefault | default(false) | bool | lower }}, 
  "isrelayed": {{ hostoptions.isrelayed | default(false) | bool | lower }},
  "relayed_by": "{{ hostoptions.relayed_by | default("") | string }}",
  "isrelay": {{ hostoptions.isrelay | default(false) | bool | lower }},
  "relay_hosts": {{ hostoptions.relay_hosts | default([]) }}
}
