---
# Docker host variables for docker-01.home.stechsolutions.ca host

# other variables are set in group_vars/proxmox_vms.yaml and
# proxmox_vms/docker_hosts.yaml

# docker container paths. All found files will be processed and copied to the docker host
# docker_configuration_paths:

docker_mounts_subfolders:
  - name: downloader_profilarr
    dest: /home/{{ default_user }}/docker_mounts/downloader/profilarr
    mode: '0775'
    container_name: profilarr
  - name: media_tautulli
    dest: /home/{{ default_user }}/docker_mounts/media/tautulli
    mode: '0775'
    container_name: tautulli
  - name: media_wrapperr
    dest: /home/{{ default_user }}/docker_mounts/media/wrapperr
    mode: '0775'
    container_name: wrapperr
  - name: media_ombi
    dest: /home/{{ default_user }}/docker_mounts/media/ombi
    mode: '0775'
    container_name: ombi

# docker container configuration files
docker_configuration_files:
  # traefik configuration file
  - name: traefik.yaml
    src: "{{ inventory_dir }}/../files/traefik/traefik-prod-no-file-provider.yaml"
    dest: /home/{{ default_user }}/docker_mounts/proxy/traefik/traefik.yaml
    mode: '0664'
    container_name: traefik
  # qbittorrentvpn configuration file
  - name: qbittorrentvpn.conf
    src: "{{ inventory_dir }}/../files/qbittorrentvpn/wireguard_conf.conf.j2"
    dest: /home/{{ default_user }}/docker_mounts/downloader/qbittorrentvpn/wireguard/wg0.conf
    mode: '0775'
    container_name: qbittorrentvpn
  - name: qbit_manage.yml
    src: "{{ inventory_dir }}/../files/qbittorrentvpn/qbit_manage_config.yml.j2"
    dest: /home/{{ default_user }}/docker_mounts/downloader/qbit_manage/config.yml
    mode: '0664'
    container_name: qbit_manage
  # prowlarr configuration file
  - name: prowlarr_config.xml
    src: "{{ inventory_dir }}/../files/prowlarr/config.xml.j2"
    dest: /home/{{ default_user }}/docker_mounts/downloader/prowlarr/config.xml
    mode: '0664'
    container_name: prowlarr
  # radarr configuration file
  - name: radarr_config.xml
    src: "{{ inventory_dir }}/../files/radarr/config.xml.j2"
    dest: /home/{{ default_user }}/docker_mounts/downloader/radarr/config.xml
    mode: '0664'
    container_name: radarr
  # sonarr configuration file
  - name: sonarr_config.xml
    src: "{{ inventory_dir }}/../files/sonarr/config.xml.j2"
    dest: /home/{{ default_user }}/docker_mounts/downloader/sonarr/config.xml
    mode: '0664'
    container_name: sonarr

docker_compose_subpath: "{{ inventory_dir }}/host_vars/docker-01.home.stechsolutions.ca/docker_compose"

docker_compose_files:
  - name: downloader-docker-compose.yaml
    compose_name: downloader
    state: present
    src: "{{ docker_compose_subpath }}/downloader.yaml.j2"
    dest: /home/{{ default_user }}/docker_compose/downloader-docker-compose.yaml
    mode: '0664'
  - name: proxy-docker-compose.yaml
    compose_name: proxy
    state: present
    src: "{{ docker_compose_subpath }}/proxy.yaml.j2"
    dest: /home/{{ default_user }}/docker_compose/proxy-docker-compose.yaml
    mode: '0664'
  - name: media-docker-compose.yaml
    compose_name: media
    state: present
    src: "{{ docker_compose_subpath }}/media.yaml.j2"
    dest: /home/{{ default_user }}/docker_compose/media-docker-compose.yaml
    mode: '0664'
  - name: monitoring-docker-compose.yaml
    compose_name: monitoring
    state: present
    src: "{{ docker_compose_subpath }}/monitoring.yaml.j2"
    dest: /home/{{ default_user }}/docker_compose/monitoring-docker-compose.yaml
    mode: '0664'
