---
# Docker host variables for docker-01.home.stechsolutions.ca host

# other variables are set in group_vars/proxmox_vms.yaml and
# proxmox_vms/docker_hosts.yaml

docker_mounts_subfolders:
  # downloader docker mounts
  - name: downloader_qbit_manage
    dest: /home/{{ default_user }}/docker_mounts/downloader/qbit_manage
    mode: '0775'
    container_name: qbit_manage

# docker container configuration files
docker_configuration_files:
  # traefik configuration file
  - name: traefik.yaml
    src: "{{ inventory_dir }}/../files/traefik/traefik-prod-no-file-provider.yaml"
    dest: /home/{{ default_user }}/docker_mounts/proxy/traefik/traefik.yaml
    mode: '0664'
    container_name: traefik
  # qbittorrentvpn configuration file
  - name: qbittorrentvpn.conf
    src: "{{ inventory_dir }}/../files/qbittorrentvpn/wireguard_conf.conf.j2"
    dest: /home/{{ default_user }}/docker_mounts/downloader/qbittorrentvpn/wireguard/wg0.conf
    mode: '0664'
    container_name: qbittorrentvpn
  - name: qbit_manage.yml
    src: "{{ inventory_dir }}/../files/qbittorrentvpn/qbit_manage_config.yml.j2"
    dest: /home/{{ default_user }}/docker_mounts/downloader/qbit_manage/config.yml
    mode: '0664'
    container_name: qbit_manage

docker_compose_subpath: "{{ inventory_dir }}/host_vars/docker-01.home.stechsolutions.ca/docker_compose"

docker_compose_files:
  - name: downloader-docker-compose.yaml
    compose_name: downloader
    state: present
    src: "{{ docker_compose_subpath }}/downloader.yaml.j2"
    dest: /home/{{ default_user }}/docker_compose/downloader-docker-compose.yaml
    mode: '0664'
  - name: proxy-docker-compose.yaml
    compose_name: proxy
    state: present
    src: "{{ docker_compose_subpath }}/proxy.yaml.j2"
    dest: /home/{{ default_user }}/docker_compose/proxy-docker-compose.yaml
    mode: '0664'
