---
name: downloader

services:
  downloader:
    image: nstoik/qbittorrent-vpn:1.0.22
    networks:
      - traefik
    container_name: qbittorrentvpn
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Edmonton
      - VPN_ENABLED=yes
      - LAN_NETWORK=10.10.0.0/21
      - WEBUI_PORT=8080
      # DNS servers from surfshark; removed from wg0.conf and set here
      - NAME_SERVERS=162.252.172.57,149.154.159.92
    privileged: true
    volumes:
      - /home/{{ default_user }}/docker_mounts/downloader/qbittorrentvpn:/config
      - /mnt/nfs/downloads:/downloads
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.home.stechsolutions.ca`)"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=8080"
      - "traefik.http.routers.qbittorrent.entrypoints=websecure"
      - "traefik.http.routers.qbittorrent.tls.certresolver=letsencrypt"
      - "homepage.group=Media"
      - "homepage.name=qBittorrent VPN"
      - "homepage.description=qBittorrent with VPN"
      - "homepage.icon=vuetorrent.png"
      - "homepage.href=https://qbittorrent.home.stechsolutions.ca"
      - "homepage.siteMonitor=https://qbittorrent.home.stechsolutions.ca"
      - "homepage.widget.type=qbittorrent"
      - "homepage.widget.url=https://qbittorrent.home.stechsolutions.ca"
      - "homepage.widget.username={{ default_user }}"
      - "homepage.widget.password={{ secret_qbittorrentvpn_webui_password }}"
      - "homepage.widget.enableLeechProgress=false"
      - "wud.tag.include=^v?\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://hub.docker.com/r/nstoik/qbittorrent-vpn/tags"
  qbit_manage:
    image: ghcr.io/stuffanthings/qbit_manage:v4.6.3
    network_mode: "service:downloader"
    container_name: qbit_manage
    environment:
      # Scheduler Configuration
      - QBT_RUN=false
      - QBT_SCHEDULE=1440
      - QBT_STARTUP_DELAY=0
      - QBT_CONFIG_DIR=/config
      - QBT_LOGFILE=qbit_manage.log

      # Logging Configuration
      - QBT_LOG_LEVEL=INFO
      - QBT_LOG_SIZE=10
      - QBT_LOG_COUNT=5
      - QBT_DIVIDER==
      - QBT_WIDTH=100
    volumes:
      - /home/{{ default_user }}/docker_mounts/downloader/qbit_manage:/config:rw
      - /home/{{ default_user }}/docker_mounts/downloader/qbittorrentvpn:/qbittorrent:ro
      - /mnt/nfs/downloads:/downloads:rw
    restart: unless-stopped
    labels:
      - "wud.tag.include=^v?\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://github.com/stuffanthings/qbit_manage/releases"

networks:
  traefik:
    name: traefik
    external: true
