---
name: downloader

services:
  downloader:
    image: nstoik/qbittorrent-vpn:1.1.1
    networks:
      - traefik
    container_name: qbittorrentvpn
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Edmonton
      - VPN_ENABLED=yes
      - VPN_PROVIDER=protonvpn
      - LAN_NETWORK=10.10.0.0/21
      - WEBUI_PORT=8080
      # DNS servers from ProtonVPN; removed from wg0.conf and set here
      - NAME_SERVERS=10.2.0.1
    privileged: true
    volumes:
      - /home/{{ default_user }}/docker_mounts/downloader/qbittorrentvpn:/config
      - /mnt/nfs/downloads:/downloads
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.home.stechsolutions.ca`)"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=8080"
      - "traefik.http.routers.qbittorrent.entrypoints=websecure"
      - "traefik.http.routers.qbittorrent.tls.certresolver=letsencrypt"
      - "homepage.group=Media"
      - "homepage.name=qBittorrent VPN"
      - "homepage.description=qBittorrent with VPN"
      - "homepage.icon=vuetorrent.png"
      - "homepage.href=https://qbittorrent.home.stechsolutions.ca"
      - "homepage.siteMonitor=https://qbittorrent.home.stechsolutions.ca"
      - "homepage.widget.type=qbittorrent"
      - "homepage.widget.url=https://qbittorrent.home.stechsolutions.ca"
      - "homepage.widget.username={{ default_user }}"
      - "homepage.widget.password={{ secret_qbittorrentvpn_webui_password }}"
      - "homepage.widget.enableLeechProgress=false"
      - "wud.tag.include=^v?\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://hub.docker.com/r/nstoik/qbittorrent-vpn/tags"
  qbit_manage:
    image: ghcr.io/stuffanthings/qbit_manage:v4.6.3
    network_mode: "service:downloader"
    container_name: qbit_manage
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Edmonton
      # Scheduler Configuration
      - QBT_SCHEDULE=120
      - QBT_STARTUP_DELAY=0
      - QBT_CONFIG_DIR=/config
      - QBT_LOGFILE=qbit_manage.log
    volumes:
      - /home/{{ default_user }}/docker_mounts/downloader/qbit_manage:/config:rw
      - /home/{{ default_user }}/docker_mounts/downloader/qbittorrentvpn:/qbittorrent:ro
      - /mnt/nfs/downloads:/downloads:rw
    depends_on:
      - downloader
    restart: unless-stopped
    labels:
      - "wud.tag.include=^v?\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://github.com/stuffanthings/qbit_manage/releases"
  prowlarr:
    image: ghcr.io/hotio/prowlarr:release-2.3.0.5236
    networks:
      - arr_network
      - traefik
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Edmonton
    volumes:
      - /home/{{ default_user }}/docker_mounts/downloader/prowlarr:/config
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.home.stechsolutions.ca`)"
      - "traefik.http.services.prowlarr.loadbalancer.server.port=9696"
      - "traefik.http.routers.prowlarr.entrypoints=websecure"
      - "traefik.http.routers.prowlarr.tls.certresolver=letsencrypt"
      - "homepage.group=Media"
      - "homepage.name=Prowlarr"
      - "homepage.description=Prowlarr Indexer Manager"
      - "homepage.icon=prowlarr.png"
      - "homepage.href=https://prowlarr.home.stechsolutions.ca"
      - "homepage.siteMonitor=https://prowlarr.home.stechsolutions.ca"
      - "homepage.widget.type=prowlarr"
      - "homepage.widget.url=https://prowlarr.home.stechsolutions.ca"
      - "homepage.widget.key={{ secret_prowlarr_api_key }}"
      - "wud.tag.include=^release-\\d+\\.\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://github.com/Prowlarr/Prowlarr/releases"
  flaresolver:
    image: ghcr.io/flaresolverr/flaresolverr:v3.4.5
    network_mode: "service:prowlarr"
    container_name: flaresolverr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Edmonton
    depends_on:
      - prowlarr
    restart: unless-stopped
    labels:
      - "wud.tag.include=^v?\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://github.com/FlareSolverr/FlareSolverr/releases"
  profilarr:
    image: santiagosayshey/profilarr:beta
    networks:
      - arr_network
      - traefik
    container_name: profilarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Edmonton
    volumes:
      - /home/{{ default_user }}/docker_mounts/downloader/profilarr:/config
    depends_on:
      - radarr
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.profilarr.rule=Host(`profilarr.home.stechsolutions.ca`)"
      - "traefik.http.services.profilarr.loadbalancer.server.port=6868"
      - "traefik.http.routers.profilarr.entrypoints=websecure"
      - "traefik.http.routers.profilarr.tls.certresolver=letsencrypt"
      - "homepage.group=Media"
      - "homepage.name=Profilarr"
      - "homepage.description=Profile Manager for *arr Apps"
      - "homepage.icon=profilarr.png"
      - "homepage.href=https://profilarr.home.stechsolutions.ca"
      - "homepage.siteMonitor=https://profilarr.home.stechsolutions.ca"
      - "wud.tag.include=^v?\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://github.com/Dictionarry-Hub/profilarr/releases"
  radarr:
    image: ghcr.io/hotio/radarr:release-6.0.4.10291
    networks:
      - arr_network
      - traefik
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Edmonton
    volumes:
      - /home/{{ default_user }}/docker_mounts/downloader/radarr:/config
      - /mnt/nfs/downloads:/downloads
      - /mnt/nfs/movies:/movies
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.radarr.rule=Host(`radarr.home.stechsolutions.ca`)"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      - "traefik.http.routers.radarr.entrypoints=websecure"
      - "traefik.http.routers.radarr.tls.certresolver=letsencrypt"
      - "homepage.group=Media"
      - "homepage.name=Radarr"
      - "homepage.description=Movie Manager"
      - "homepage.icon=radarr.png"
      - "homepage.href=https://radarr.home.stechsolutions.ca"
      - "homepage.siteMonitor=https://radarr.home.stechsolutions.ca"
      - "homepage.widget.type=radarr"
      - "homepage.widget.url=https://radarr.home.stechsolutions.ca"
      - "homepage.widget.key={{ secret_radarr_api_key }}"
      - "homepage.widget.enableQueue=true"
      - "wud.tag.include=^release-\\d+\\.\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://hotio.dev/containers/radarr/"

networks:
  traefik:
    name: traefik
    external: true
  arr_network:
    name: arr_network
