---
name: media

services:
  plex:
    image: plexinc/pms-docker:1.43.0.10492-121068a07
    container_name: plex
    gpus: all
    environment:
      - TZ=America/Edmonton
      - PLEX_UID=1000
      - PLEX_GID=1000
      - HOSTNAME=plex.home.stechsolutions.ca
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=video,compute,utility
    volumes:
      - /home/{{ default_user }}/docker_mounts/media/plex:/config
      - /mnt/scratch/plex:/transcode
      - /mnt/nfs/movies:/data/movies
      - /mnt/nfs/tv:/data/tvshows
      - /mnt/nfs/music:/data/music
      - /mnt/nfs/sport:/data/sport
    ports:
      - "32400:32400/tcp"
    restart: unless-stopped
    labels:
      - "homepage.group=Media Playback"
      - "homepage.name=Plex"
      - "homepage.description=Plex Media Server"
      - "homepage.icon=plex.png"
      - "homepage.href=http://10.10.5.24:32400/web"
      - "homepage.siteMonitor=http://10.10.5.24:32400/web"
      - "homepage.widget.type=plex"
      - "homepage.widget.url=http://10.10.5.24:32400"
      - "homepage.widget.key={{ secret_plex_api_key }}"
      - homepage.widget.fields=["movies","tv"]
      - "wud.tag.include=^\\d+\\.\\d+\\.\\d+\\.\\d+-[a-f0-9]+$"
      - "wud.link.template=https://hub.docker.com/r/plexinc/pms-docker/tags"
  tautulli:
    image: ghcr.io/tautulli/tautulli:v2.16.0
    networks:
      - arr_network
      - traefik
    container_name: tautulli
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Edmonton
      - TAUTULLI_API_KEY={{ secret_tautulli_api_key }}
    volumes:
      - /home/{{ default_user }}/docker_mounts/media/tautulli:/config
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.tautulli.rule=Host(`tautulli.home.stechsolutions.ca`)"
      - "traefik.http.services.tautulli.loadbalancer.server.port=8181"
      - "traefik.http.routers.tautulli.entrypoints=websecure"
      - "traefik.http.routers.tautulli.tls.certresolver=letsencrypt"
      - "homepage.group=Media Playback"
      - "homepage.name=Tautulli"
      - "homepage.description=Tautulli Plex Monitoring"
      - "homepage.icon=tautulli.png"
      - "homepage.href=https://tautulli.home.stechsolutions.ca/home"
      - "homepage.siteMonitor=https://tautulli.home.stechsolutions.ca/home"
      - "homepage.widget.type=tautulli"
      - "homepage.widget.url=https://tautulli.home.stechsolutions.ca"
      - "homepage.widget.key={{ secret_tautulli_api_key }}"
      - "homepage.widget.enableUser=true"
      - "homepage.widget.showEpisodeNumber=true"
      - "wud.tag.include=^v?\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://github.com/Tautulli/Tautulli/releases"
  wrapperr:
    image: ghcr.io/aunefyren/wrapperr:v3.2.10
    networks:
      - traefik
    container_name: wrapperr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Edmonton
    volumes:
      - /home/{{ default_user }}/docker_mounts/media/wrapperr:/app/config
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.wrapperr.rule=Host(`wrapperr.home.stechsolutions.ca`) && PathPrefix(`/wrapperr`)"
      - "traefik.http.services.wrapperr.loadbalancer.server.port=8282"
      - "traefik.http.routers.wrapperr.entrypoints=websecure"
      - "traefik.http.routers.wrapperr.tls.certresolver=letsencrypt"
      - "homepage.group=Media Playback"
      - "homepage.name=Wrapperr"
      - "homepage.description=Plex Wrapped"
      - "homepage.icon=plex-rewind.png"
      - "homepage.href=https://wrapperr.home.stechsolutions.ca/wrapperr"
      - "homepage.siteMonitor=https://wrapperr.home.stechsolutions.ca/wrapperr"
      - "wud.tag.include=^v?\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://github.com/aunefyren/wrapperr/releases"
  ombi:
    image: linuxserver/ombi:4.53.4
    networks:
      - traefik
    container_name: ombi
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Edmonton
      - BASE_URL=/ombi
    volumes:
      - /home/{{ default_user }}/docker_mounts/media/ombi:/config
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.ombi.rule=Host(`ombi.home.stechsolutions.ca`) && PathPrefix(`/ombi`)"
      - "traefik.http.services.ombi.loadbalancer.server.port=3579"
      - "traefik.http.routers.ombi.entrypoints=websecure"
      - "traefik.http.routers.ombi.tls.certresolver=letsencrypt"
      - "homepage.group=Media Requests"
      - "homepage.name=Ombi"
      - "homepage.description=Media Request System"
      - "homepage.icon=ombi.png"
      - "homepage.href=https://ombi.home.stechsolutions.ca/ombi"
      - "homepage.siteMonitor=https://ombi.home.stechsolutions.ca/ombi"
      - "homepage.widget.type=ombi"
      - "homepage.widget.url=https://ombi.home.stechsolutions.ca/ombi"
      - "homepage.widget.key={{ secret_ombi_api_key }}"
      - "wud.tag.include=^v?\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://github.com/Ombi-app/Ombi/releases"

networks:
  traefik:
    name: traefik
    external: true
  arr_network:
    name: arr_network
    external: true
