---
# handlers file for fileserver

# apply nfs exports
- name: Apply nfs exports
  ansible.builtin.command: exportfs -ra
  register: fileserver_exportfs_result
  become: true
  changed_when: fileserver_exportfs_result.rc == 0
