---
name: proxy

services:
  traefik:
    image: traefik:v3.4.4
    networks:
      - traefik
      - docker-proxy
    container_name: traefik
    environment:
        - TZ=America/Edmonton
        - CF_API_EMAIL={{ default_user_email }}
        - CF_DNS_API_TOKEN={{ secret_cf_token }}
    volumes:
        - /home/{{ default_user }}/docker_mounts/proxy/traefik:/etc/traefik
    ports:
        - "80:80"
        - "443:443"
        - "8081:8081"
    depends_on:
        - docker-socket-proxy
    healthcheck:
        test: [
            "CMD",
            "traefik",
            "healthcheck",
            "--ping"
        ]
        interval: 60s
        timeout: 10s
        retries: 3
        start_period: 40s
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.dashboard.rule=Host(`docker-cloud-01.stechsolutions.ca`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.middlewares=auth"
      - "traefik.http.middlewares.auth.basicauth.users={{ default_user }}:{{ secret_traefik_dashboard_password_hash }}"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.tls.certresolver=letsencrypt"
      - "homepage.group=Proxy"
      - "homepage.name=Traefik Remote"
      - "homepage.description=Remote Reverse Proxy"
      - "homepage.icon=traefik.png"
      - "homepage.href=https://docker-cloud-01.stechsolutions.ca/dashboard/#/"
      - "homepage.siteMonitor=https://docker-cloud-01.stechsolutions.ca/dashboard/#/"
      - "homepage.widget.type=traefik"
      - "homepage.widget.url=https://docker-cloud-01.stechsolutions.ca"
      - "homepage.widget.username={{ default_user }}"
      - "homepage.widget.password={{ secret_traefik_dashboard_password }}"
      - "homepage.widget.routers="
      - "homepage.widget.services="
      - "homepage.widget.middleware="
      - "wud.tag.include=^v?\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://github.com/traefik/traefik/releases"
  docker-socket-proxy:
    image: tecnativa/docker-socket-proxy:0.3.0
    networks:
      - docker-proxy
    container_name: docker-socket-proxy
    environment:
        - CONTAINERS=1
        - IMAGES=1
        - POST=0
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
        - "100.96.76.78:2375:2375"
    healthcheck:
        test: "wget --spider http://docker-socket-proxy:2375/version || exit 1"
        interval: 60s
        timeout: 10s
        retries: 3
        start_period: 40s
    restart: unless-stopped
    labels:
      - "wud.tag.include=^v?\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://github.com/Tecnativa/docker-socket-proxy/releases"

networks:
  traefik:
    name: traefik
  docker-proxy:
    name: docker-proxy