---
# file to install docker on a host

# block for docker tasks
- name: Install docker
  tags:
    - docker
  block:
    # install docker
    - name: Install docker
      ansible.builtin.apt:
        pkg:
          - docker.io
          - docker-compose-v2
        state: present
      become: true

    # install the nvidia docker toolkit if nvidia gpu support is enabled
    - name: Install nvidia docker toolkit if nvidia gpu support is enabled
      ansible.builtin.import_tasks: install_nvidia_toolkit.yaml
      when: docker_config_nvidia_gpu | bool
      become: true

    # add the user to the docker group
    - name: Add user to docker group
      ansible.builtin.user:
        name: "{{ default_user }}"
        groups: docker
        append: true
      become: true
      notify: Restart docker

    # create the docker config directory
    # This is where docker will store images and containers.
    # This directory is owned by root as docker is run as root.
    - name: Create docker data directory
      ansible.builtin.file:
        path: "{{ docker_data_dir }}"
        state: directory
        mode: "0766"
      become: true

    # create the docker daemon config file
    - name: Create docker daemon config file
      ansible.builtin.copy:
        content: "{{ docker_daemon_options | to_nice_json }}"
        dest: /etc/docker/daemon.json
        mode: "0644"
      when: docker_daemon_options.keys() | length > 0
      become: true
      notify: Restart docker

    # Create the directory for docker compose files
    - name: Create the directory for docker compose files
      ansible.builtin.file:
        path: "{{ docker_compose_dir }}"
        state: directory
        mode: "0755"
        owner: "{{ default_user }}"
        group: "{{ default_user }}"
      become: true

    # Create the directory for docker mounts files
    - name: Create the directory for docker mounts files
      ansible.builtin.file:
        path: "{{ docker_mounts_dir }}"
        state: directory
        mode: "0755"
        owner: "{{ default_user }}"
        group: "{{ default_user }}"
      become: true

    # Set the permissions for the docker mounts parent directory
    - name: Set the permissions for the docker mounts parent directory
      ansible.builtin.file:
        path: "{{ docker_mounts_dir | dirname }}"
        state: directory
        mode: "0755"
      become: true

    # Set the permissions for the docker mounts parents parent directory
    - name: Set the permissions for the docker mounts parents parent directory
      ansible.builtin.file:
        path: "{{ docker_mounts_dir | dirname | dirname }}"
        state: directory
        mode: "0755"
      become: true

    # Ensure the docker service drop-in directory exists
    - name: Ensure the docker service drop-in directory exists
      ansible.builtin.file:
        path: /etc/systemd/system/docker.service.d
        state: directory
        owner: root
        group: root
        mode: "0755"
      become: true

    # Ensure docker waits for NFS mounts to be available before starting
    - name: Ensure docker waits for NFS mounts to be available before starting
      ansible.builtin.copy:
        dest: /etc/systemd/system/docker.service.d/ansible-override.conf
        content: |
          [Unit]
          Requires={{ fileserver_nfs_mounts | map(attribute='docker_nfs_unit') | join(' ') }}
          After={{ fileserver_nfs_mounts | map(attribute='docker_nfs_unit') | join(' ') }}
        owner: root
        group: root
        mode: "0644"
      when: fileserver_nfs_mounts is defined and
            fileserver_nfs_mounts | length > 0
      become: true
      notify:
        - Reload systemd
        - Restart docker
