---
# Group vars for pihole

ansible_become_password: "{{ secret_become_pass }}"

ansible_ssh_pass: "{{ secret_become_pass }}"

# DNS entries to add to Pi-hole
# The domain name and the hostname are added
# to the Pi-hole DNS entries.
pihole_dns_entries:
  - domain: "pihole-1.home.stechsolutions.ca"
    ip: 10.10.1.11
  - domain: "hassio.home.stechsolutions.ca"
    ip: 10.10.1.51
  - domain: "pi4-dev.home.stechsolutions.ca"
    ip: 10.10.1.179
  - domain: "mainsail.home.stechsolutions.ca"
    ip: 10.10.1.186
  - domain: "nelson_ds.home.stechsolutions.ca"
    ip: 10.10.1.200
  - domain: "pve3.home.stechsolutions.ca"
    ip: 10.10.5.8
  - domain: "pbs.home.stechsolutions.ca"
    ip: 10.10.5.9
  - domain: "pihole-2.home.stechsolutions.ca"
    ip: 10.10.5.11
  - domain: "docker-01.home.stechsolutions.ca"
    ip: 10.10.5.24
  - domain: "storage.home.stechsolutions.ca"
    ip: 10.10.5.26
  - domain: "docker-02.home.stechsolutions.ca"
    ip: 10.10.5.27
  - domain: "vpn.home.stechsolutions.ca"
    ip: 10.10.5.28
  - domain: "youtube-dl.home.stechsolutions.ca"
    ip: 10.10.5.120
  - domain: "w10-testing.home.stechsolutions.ca"
    ip: 10.10.5.182
  - domain: "docker.home.stechsolutions.ca"
    ip: 10.10.5.237

# CNAME entries to add to Pi-hole
# add_hostname: true will add the hostname as a CNAME entry
#               as well as the domain.
# example:
#   domain: "downloader.home.stechsolutions.ca"
#   target: "docker.home.stechsolutions.ca"
#   add_hostname: true
# This will add the following entries to Pi-hole:
#   downloader.home.stechsolutions.ca -> docker.home.stechsolutions.ca
#   downloader -> docker.home.stechsolutions.ca
pihole_cname_entries:
  - domain: "ombi.home.stechsolutions.ca"
    target: "docker-01.home.stechsolutions.ca"
    add_hostname: true
  - domain: "profilarr.home.stechsolutions.ca"
    target: "docker-01.home.stechsolutions.ca"
    add_hostname: true
  - domain: "prowlarr.home.stechsolutions.ca"
    target: "docker-01.home.stechsolutions.ca"
    add_hostname: true
  - domain: "qbittorrent.home.stechsolutions.ca"
    target: "docker-01.home.stechsolutions.ca"
    add_hostname: true
  - domain: "radarr.home.stechsolutions.ca"
    target: "docker-01.home.stechsolutions.ca"
    add_hostname: true
  - domain: "sonarr.home.stechsolutions.ca"
    target: "docker-01.home.stechsolutions.ca"
    add_hostname: true
  - domain: "tautulli.home.stechsolutions.ca"
    target: "docker-01.home.stechsolutions.ca"
    add_hostname: true
  - domain: "wrapperr.home.stechsolutions.ca"
    target: "docker-01.home.stechsolutions.ca"
    add_hostname: true
  - domain: "alertmanager.home.stechsolutions.ca"
    target: "docker-02.home.stechsolutions.ca"
    add_hostname: true
  - domain: "filestash.home.stechsolutions.ca"
    target: "docker-02.home.stechsolutions.ca"
    add_hostname: true
  - domain: "grafana.home.stechsolutions.ca"
    target: "docker-02.home.stechsolutions.ca"
    add_hostname: true
  - domain: "homepage.home.stechsolutions.ca"
    target: "docker-02.home.stechsolutions.ca"
    add_hostname: true
  - domain: "lubelogger.home.stechsolutions.ca"
    target: "docker-02.home.stechsolutions.ca"
    add_hostname: true
  - domain: "ntfy-alertmanager.home.stechsolutions.ca"
    target: "docker-02.home.stechsolutions.ca"
    add_hostname: true
  - domain: "peanut.home.stechsolutions.ca"
    target: "docker-02.home.stechsolutions.ca"
    add_hostname: true
  - domain: "prometheus.home.stechsolutions.ca"
    target: "docker-02.home.stechsolutions.ca"
    add_hostname: true
  - domain: "scrutiny.home.stechsolutions.ca"
    target: "docker-02.home.stechsolutions.ca"
    add_hostname: true
  - domain: "unifi.home.stechsolutions.ca"
    target: "docker-02.home.stechsolutions.ca"
    add_hostname: true
  - domain: "tdarr.home.stechsolutions.ca"
    target: "docker-02.home.stechsolutions.ca"
    add_hostname: true
  - domain: "wud.home.stechsolutions.ca"
    target: "docker-02.home.stechsolutions.ca"
    add_hostname: true
  - domain: "downloader.home.stechsolutions.ca"
    target: "docker.home.stechsolutions.ca"
    add_hostname: true
  - domain: "heimdall.home.stechsolutions.ca"
    target: "docker.home.stechsolutions.ca"
    add_hostname: true
  - domain: "media.home.stechsolutions.ca"
    target: "docker.home.stechsolutions.ca"
    add_hostname: true
  - domain: "fd1.farmmonitor.ca"
    target: "pi4-dev.home.stechsolutions.ca"
    add_hostname: false
  - domain: "fm1.farmmonitor.ca"
    target: "pi4-dev.home.stechsolutions.ca"
    add_hostname: false
  - domain: "traefik.fd1.farmmonitor.ca"
    target: "pi4-dev.home.stechsolutions.ca"
    add_hostname: false
  - domain: "traefik.fm1.farmmonitor.ca"
    target: "pi4-dev.home.stechsolutions.ca"
    add_hostname: false
